.row
  - @farms.each do |farm|
    .col-sm-4
      %h2= link_to farm.name, farm_path(farm)
      - ['Expense', 'Revenue', 'Investment'].each do |transaction|
        %p
          Total #{transaction}
          = number_to_indian_currency(farm.sum_transaction(transaction))
      %p
        Total Profit
        = number_to_indian_currency(farm.calculate_profit)
      %p
        Capital Left Over
        = number_to_indian_currency(farm.calculate_capital_left)
      