- model_class = Farm
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:address)
      %th= model_class.human_attribute_name(:city)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:country)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @farms.each do |farm|
      %tr
        %td= link_to farm.name, farm_path(farm)
        %td= farm.address
        %td= farm.city
        %td= farm.state
        %td= farm.country
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_farm_path(farm), :class => 'btn btn-default btn-xs'

= link_to t('.new', :default => t("helpers.links.new")), new_farm_path, :class => 'btn btn-primary'
