= form_for @transaction, html: { class: "form form-horizontal transaction" } do |f|
  .form-group
    = f.label :reason, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reason, class: 'form-control', required: true
    = f.error_span(:reason)
  .form-group
    = f.label :location, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :location, class: 'form-control', required: false
    = f.error_span(:location)
  .form-group
    = f.label :bill_image_path, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :bill_image_path, class: 'form-control', required: true
    = f.error_span(:bill_image_path)
  .form-group
    = f.label :description, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :description, class: 'form-control', required: true
    = f.error_span(:description)
  .form-group
    = f.label :debit_credit, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :debit_credit, class: 'form-control', required: true
    = f.error_span(:debit_credit)
  .form-group
    = f.label :amount, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :amount, class: 'form-control', required: true
    = f.error_span(:amount)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), transactions_path, :class => 'btn btn-default'
