- model_class = @trans_type.constantize
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:transaction_date)
      %th= model_class.human_attribute_name(:amount)
      %th= model_class.human_attribute_name(:place_of_transaction)
      %th= model_class.human_attribute_name(:transaction_method)
      %th Cheque/Transfer Id
      %th= model_class.human_attribute_name(:place_of_transaction)
      %th= model_class.human_attribute_name(:reason)
      %th= model_class.human_attribute_name(:farm_id)
      %th= model_class.human_attribute_name(:crop_id)
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= link_to transaction.transaction_date, transaction_path(transaction)
        %td= transaction.amount
        %td= transaction.place_of_transaction
        %td= transaction.transaction_method
        %td= transaction.identifier
        %td= transaction.place_of_transaction
        %td= transaction.reason
        %td= transaction.farm.try(:name)
        %td= transaction.crop.try(:name)
        
= link_to t('.new', :default => t("helpers.links.new")), new_transaction_path(type: @trans_type), :class => 'btn btn-primary'
