- model_class = @trans_type.constantize
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:bill_details) + ':'
  = @transaction.bill_details
%p
  %strong= model_class.human_attribute_name(:transaction_date) + ':'
  = @transaction.transaction_date
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  = @transaction.amount
%p
  %strong= model_class.human_attribute_name(:place_of_transaction) + ':'
  = @transaction.place_of_transaction
%p
  %strong= model_class.human_attribute_name(:transaction_method) + ':'
  = @transaction.transaction_method
%p
  %strong Cheque/Transfer Id:
  = @transaction.identifier
%p
  %strong= model_class.human_attribute_name(:place_of_transaction) + ':'
  = @transaction.place_of_transaction
%p
  %strong= model_class.human_attribute_name(:farm_id) + ':'
  = @transaction.farm.try(:name)
%p
  %strong= model_class.human_attribute_name(:crop_id) + ':'
  = @transaction.crop.try(:name)
%p
  %strong= model_class.human_attribute_name(:reason) + ':'
  = @transaction.reason
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  = @transaction.description


= link_to t('.back', :default => t("helpers.links.back")), transactions_path(type: @trans_type), :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_transaction_path(@transaction), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), transaction_path(@transaction), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
