%p#notice= notice

%p
  %b Reason:
  = @transaction.reason
%p
  %b Location:
  = @transaction.location
%p
  %b Bill image path:
  = @transaction.bill_image_path
%p
  %b Description:
  = @transaction.description
%p
  %b Debit credit:
  = @transaction.debit_credit
%p
  %b Amount:
  = @transaction.amount

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
